@import url(https://fonts.bunny.net/css?family=source-sans-pro:400,600,700,900,300);

:root {
  --font-family: "Source Sans Pro", sans-serif;
  --footer-header-height: 44px;
  --sidebar-font-size: 14px;
  --header-bg-color-hover: hsla(0, 0%, 100%, 0.2);
  --header-bg-primary: #dc4c3e;
}

body {
  display: grid;
  grid-template-columns: 305px auto;
  font-family: var(--font-family);
  grid-template-rows: var(--footer-header-height) auto var(
      --footer-header-height
    );
}

header {
  background-color: var(--header-bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/3;
  font-size: 13px;
  padding-left: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container h1 {
  font-weight: 700;
  font-size: 24px;
}

.logo-container svg {
  height: 24px;
}

header * {
  color: white;
  cursor: pointer;
}

nav {
  background-color: #fafafa;
  font-size: var(--sidebar-font-size);
}

footer {
  grid-column: 1/3;
}

#nav-container {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#quick-filters {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quick-filter-label {
  flex: 1;
}

.quick-filter:hover {
  background-color: #eee;
}

.quick-filter,
#project-drop-down {
  cursor: pointer;
}

#add-task,
#project-drop-down,
.quick-filter {
  background-color: transparent;
  border: transparent;
  border-radius: 8px;
}

#add-task {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 4px;
  width: 28px;
  height: 28px;
  fill: white;
}

#add-task:hover {
  background-color: var(--header-bg-color-hover);
}

#nav-container svg {
  width: 18px;
}

#project-drop-down {
  font-weight: 600;
}

.quick-filter,
#project-drop-down {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px 5px 7px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: start;
}

#project-drop-down svg {
  height: 18px;
}

.tooltip {
  visibility: hidden;
}

.tooltip:hover {
  visibility: visible;
  position: relative;
}

dialog {
  width: 550px;
  border: none;
  border-radius: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input[type="text"] {
  outline: none;
  border: none;
}

#modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

#modal-buttons button {
  width: 80px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
}

#btn-cancel {
  background-color: rgb(245, 245, 245);
  border: none;
  color: rgb(68, 68, 68);
  cursor: pointer;
}

#btn-add-task {
  border: none;
  color: white;
}

.form-invalid {
  background-color: rgba(219, 76, 63, 0.4);
  cursor: not-allowed;
}

.form-valid {
  background-color: rgb(219, 76, 63);
  cursor: pointer;
}

#modal-task-properties {
  display: flex;
  gap: 10px;
}

.task-property {
  display: flex;
  flex-direction: column;
}

.task-property label {
  font-weight: 300;
  font-size: 12px;
  color: rgb(128, 128, 128);
}

.task-property input,
.task-property select {
  width: 150px;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}

#tasks {
  grid-template-columns: 2/3;
  grid-template-rows: 2/3;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-top: 36px;
  padding-left: 55px;
  padding-right: 55px;
}

#tasks h1 {
  padding-bottom: 34px;
}

#tasks-add-task {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
}

#tasks-add-task:hover {
}

#tasks-add-task svg {
  width: 24px;
  height: 24px;
  fill: red;
}
